<p-toast></p-toast>
<div class="cover" [ngClass]="{'show': _show, 'closing': closing}"></div>
<div class="settingsContainer" [class.show]="_show">
  <div class="header">
    <span class="kTitle">Select bug categories to display</span>
  </div>
  <div class="kContent">
    <div class="kContainer">
      <p-radioButton name="bugs" value="no" [(ngModel)]="showBugs" label="No bugs - ready for production!"></p-radioButton>
      <p-radioButton name="bugs" value="yes" [(ngModel)]="showBugs" label="Bugs"></p-radioButton>
      <p-checkbox [disabled]="showBugs==='no'" name="categories" value="functionality" label="Functionality" [(ngModel)]="selectedBugs"></p-checkbox>
      <p-checkbox [disabled]="showBugs==='no'" name="categories" value="graphics" label="Graphic design" [(ngModel)]="selectedBugs"></p-checkbox>
      <p-checkbox [disabled]="showBugs==='no'" name="categories" value="ux" label="User experience" [(ngModel)]="selectedBugs"></p-checkbox>
      <p-checkbox [disabled]="showBugs==='no'" name="categories" value="responsive" label="Responsiveness" [(ngModel)]="selectedBugs"></p-checkbox>
      <p-checkbox [disabled]="showBugs==='no'" name="categories" value="devices" label="Cross-device compatability" [(ngModel)]="selectedBugs"></p-checkbox>
      <p-checkbox [disabled]="showBugs==='no'" name="categories" value="browser" label="Cross-browser compatability" [(ngModel)]="selectedBugs"></p-checkbox>
      <div class="kLoader" *ngIf="!showBugs.length">
        <div class="spinner-container">
          <div class='spinner'><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="kButtonDefault" type="button" pButton label="Cancel" (click)="close()"></button>
    <button class="kButtonBranded" type="button" pButton label="Save" (click)="save()"></button>
  </div>

</div>
