@import "variables";
/* input */
.p-inputtext, .p-inputtext:enabled{
  background-color: white;
  border: 1px solid $kGrayscale4;
  height: 34px;
  padding: .25em;
  outline: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  color: $kGrayscale3;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  &:focus{
    background-color: white;
    border: 1px solid $kGrayscale3;
    color: $kGrayscale1;
  }
}
.p-inputtext:disabled{
  background-color: $kGrayscale6;
  border: 1px solid $kGrayscale4;
  color: $kGrayscale3;
  opacity: 0.35;
}
.p-inputtext.p-focus, .p-inputtext:focus{
  box-shadow: none;
}
textarea.p-inputtext {
  resize: none;
}

.p-inputtext::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $kGrayscale4;
}
.p-inputtext::-moz-placeholder { /* Firefox 19+ */
  color: $kGrayscale4;
}
.p-inputtext:-ms-input-placeholder { /* IE 10+ */
  color: $kGrayscale4;
}
.p-inputtext:-moz-placeholder { /* Firefox 18- */
  color: $kGrayscale4;
}
textarea.p-inputtext {
  resize: none;
}
/* radio buttons */
.p-radiobutton-box{
  width: 1.125em;
  height: 1.125em;
  line-height: 1.125em;
  border-radius: 100%;
  text-align: center;
  position: relative;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  color: #1c94c4;
}
.p-radiobutton-checked .p-radiobutton-box.p-highlight{
  background-color: #ffffff;
  border: 6px solid $kPrimary;
  color: #ffffff;
}
.p-radiobutton{
  margin-right: 6px;
  display: inline-flex;
  &.p-radiobutton-disabled {
    cursor: default;
    opacity: 0.35;
  }
}
.p-radiobutton-label {
  line-height: 16px;
}

/* checkboxes */
.p-checkbox, .p-datatable .p-selection-column .p-checkbox{
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  font-size: 10px;
  position: relative;
  &.p-checkbox-disabled {
    opacity: 0.35;
  }
  .p-checkbox-box {
    width: 16px;
    height: 16px;
    position: absolute;
    border: 1px solid $kGrayscale4;
    border-radius: 3px;
    flex: 0 0 auto;
    &.p-highlight {
      background-color: $kPrimary;
      border: 1px solid $kPrimary;
      color: #ffffff;
    }
    &.p-indeterminate {
      background-color: $kPrimary;
    }
  }
  .p-checkbox-icon{
    margin-left: 0px;
    margin-top: 0px;
    line-height: 14px;
    font-weight: bold;
  }
}
.p-checkbox {
  margin-right: 6px;
}
.p-checkbox-label {
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  color: $kGrayscale2;
  margin-left: 4px;
  &.p-disabled {
    color: $kGrayscale5;
  }
}

/* buttons */
.p-button{
  font-weight: 700;
  border-radius: 3px;
  height: 34px;
  font-size: 14px;
  outline: none;
  padding-left: 12px;
  padding-right: 12px;
  &:disabled {
    opacity: 0.35;
  }
  .p-button-icon.p-button-icon-left{
    margin-right: 8px;
  }
  .p-button-icon-right{
    margin-left: 8px;
  }
  &.p-button-icon-only{
    .p-button-icon{
      margin-left: 0px !important;
    }
    .p-button-label {
      padding-right: 0px;
    }
  }

}
.kButtonBranded, .p-button.kButtonBranded {
  border: none;
  color: #ffffff;
  background: $kPrimary;
  &:hover {
    background: darken($kPrimary, 10%);
  }
  &:active {
    box-shadow: 0 0 0 3px rgba($kPrimary,0.4);
  }
  &:disabled {
    opacity: 1;
    color: $kGrayscale4;
    background: transparent;
    border: 1px solid $kGrayscale4;
    cursor: default;
    box-shadow: none;
  }
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.kButtonDefault, .p-button.kButtonDefault {
  color: $kGrayscale1;
  background: #ffffff;
  border: 1px solid $kGrayscale4;
  &:hover{
    border: 1px solid $kPrimary;
  }
  &:active:not(:disabled){
    box-shadow: 0 0 0 3px rgba($kPrimary,0.4);
  }
  &:disabled{
    color: $kGrayscale4;
    background: transparent;
    border: 1px solid $kGrayscale4;
    cursor: default;
  }
}
.p-button.kButtonDanger {
  color: #ffffff;
  background: $kDandger;
  border: 0px solid $kDandger;
  &:hover{
    background: darken($kDandger, 10%);
    border: 0px solid darken($kDandger, 10%);
  }
  &:active:not(:disabled){
    box-shadow: inset 0px 1px 3px 0 rgba(0,0,0,0.50);
  }
}

// messages
.p-toast{
  width: 320px !important;
  .p-toast-summary{
    display: none;
  }
  .p-toast-message-icon-close.pi.pi-close{
    top: 9px;
    right: 9px;
    font-size: 14px;
  }
  .p-toast-message-icon {
    margin-left: 2px;
    margin-right: 14px;
    margin-top: 8px;
    font-size: 20px;
  }
  .p-toast-message-content {
    line-height: 36px;
    padding: 0px;
    margin-left: 12px;
  }
  .p-toast-message-success{
    background-color: $kSuccess;
    color: white;
  }
  .p-toast-message-error{
    background-color: $kDandger;
    color: white;
  }
}
/* data table */
p-table {
  .p-datatable-tbody > tr > td {
    height: 70px;
    overflow: hidden;
    border: 1px solid #d9d9d9;
    border-left: none;
    border-right: none;
  }
  .p-datatable-tbody > tr:not(.kEmptymessageBorder):hover{
    background-color: $kGrayscale7;
  }
  .p-datatable-scrollable-header {
    background: transparent;
    height: 32px;
    border: 1px solid #d9d9d9;
    color: white;
    font-weight: 700;
    border-left: none;
    border-right: none;
    tr {
      height: 32px;
    }
  }
  .p-datatable-thead > tr > th {
    border-left: none;
    border-right: none;
    font-weight: normal;
    text-align: left;
    border: none;
    padding-left: 8px;
    padding-right: 4px;
    box-sizing: border-box;
    background: transparent;
    color: $kGrayscale3;
    font-size: 14px;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .p-datatable-scrollable-header-box {
    padding-right: 0px !important;
  }
  .p-datatable-scrollable-header-box.stickyHeader {
    z-index: 10;
    display: table;
    background-color: white;
    border-bottom: 1px solid $kGrayscale5;
  }
  .p-datatable-thead > tr > th.p-highlight {
    color: $kGrayscale1;
    p-sorticon{
      display: inline;
    }
  }
  .p-datatable-thead > tr > th.p-sortable-column {
    cursor: pointer;
  }

  .p-datatable-sort-icon {
    vertical-align: initial;
  }

  .p-sortable-column-icon {
    vertical-align: initial !important;
  }

  .p-datatable-tbody > tr > td {
    font-size: 15px;
    font-weight: 400;
    color: $kGrayscale3;
    text-overflow: ellipsis;
    padding-left: 8px;
    padding-right: 4px;
    box-sizing: border-box;
  }
  p-sorticon{
    display: none;
    a{
      text-decoration: none !important;
    }
    i{
      font-size: 10px;
      margin-left: 8px;
      visibility: visible;
    }
  }
  .p-datatable-data > tr > td {
    border: 0px solid #ffffff;
    overflow: hidden;
  }
  .p-datatable-scrollable-body {
    max-height: none !important;
    overflow-y: auto !important;
  }
  .p-datatable-scrollable-body>table>.p-datatable-tbody>tr:first-child>td{
    border-top: 1px solid white;
  }
  .p-datatable-scrollable-footer {
    border: none !important;
  }
  .emptymessage{
    text-align: center;
    line-height: 200px;
    font-size: 28px;
    color: $kGrayscale3;
  }

  .p-datatable-data tr.uploadFailure {
    background: lighten($kDandger, 45%);
  }

  .p-datatable-data tr.uploading {
    background: repeating-linear-gradient(
        -75deg,
        #ffffff,
        #ffffff 15px,
        $kGrayscale7 15px,
        $kGrayscale7 30px
    );
    background-attachment: fixed;

    -webkit-animation: progress 2s linear infinite;
    -moz-animation: progress 2s linear infinite;
    -ms-animation: progress 2s linear infinite;
    animation: progress 2s linear infinite;
  }

  .p-datatable-tbody tr.uploadFailure {
    background: lighten($kDandger, 45%);
  }

  .p-datatable-tbody tr.uploading {
    background: repeating-linear-gradient(
        -75deg,
        #ffffff,
        #ffffff 15px,
        $kGrayscale7 15px,
        $kGrayscale7 30px
    );
    background-attachment: fixed;

    -webkit-animation: progress 2s linear infinite;
    -moz-animation: progress 2s linear infinite;
    -ms-animation: progress 2s linear infinite;
    animation: progress 2s linear infinite;
  }

  .p-datatable-tbody .pi-chevron-circle-right {
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 12px solid $kGrayscale4;
    border-bottom: 8px solid transparent;
  }

  .p-datatable-tbody .pi-chevron-circle-down {
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid $kGrayscale4;
    margin-left: -3px;
  }
}

@-webkit-keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -60px 0px;
  }
}
@-moz-keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -60px 0px;
  }
}
@-ms-keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -60px 0px;
  }
}
@keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -60px 0px;
  }
}
/* menu */
.p-tieredmenu, .p-menu-list, .p-menu {
  padding: 4px;
  padding-left: 0px;
  padding-right: 0px;
  width: 200px;
  &.p-tieredmenu-overlay{
    border: 1px solid #d9d9d9;
    background-color: #fff;
    color: #333;
  }
  .p-submenu-list{
    border: 1px solid #d9d9d9;
    background-color: #fff;
    color: #333;
  }
  .p-menuitem-link{
    min-height: 32px;
    line-height: 1.5em;
    color: $kGrayscale1;
    padding: .25em;
    padding-left: 12px;
    .p-menuitem-text {
      line-height: 1.5em;
      font-size: 14px;
      font-weight: bold;
    }
    &.p-disabled {
      opacity: 0.35;
    }
  }
  .p-menuitem .p-menuitem-link:hover{
    border-radius: 0px;
    background-color: $appBkgColor;
  }
  .p-menuitem.kDanger .p-menuitem-text{
    color: $kDandger;
  }
  .p-menuitem.graphicsBug .p-menuitem-text{
    font-size: 16px;
  }
}
body .p-tieredmenu {
  width: 250px;
  .p-submenu-icon {
    font-size: 10px;
    right: 3px;
  }
}
.p-menu-overlay {
  border: 1px solid #d9d9d9;
  background-color: #fff;
  color: #333;
  border-radius: 3px;
  padding-left: 0;
  padding-right: 0;
}
.p-menu .p-menuitem-text {
  vertical-align: middle;
}
.p-submenu{
  .p-submenu-list{
    padding: 0px;
  }
}


