<div class="header">
  <span class="title">Management Console</span>
  <i *ngIf="isAdmin" (click)="openSettings()" class="settingsIcon"></i>
  <span class="logout" [class.user]="!isAdmin" (click)="logout()">Logout</span>
</div>
<div class="content" [class.responsiveBug]="bugs && bugs.indexOf('responsive') !== -1">
  <div class="totals">
    <div class="total">
      <div class="kMiniIcon purple" [class.lightgreen]="bugs && bugs.indexOf('graphics') !== -1"><i class="icon-small-video"></i></div>
      <span class="value">{{totals?.entries | number: '1.0'}}</span>
      <span class="label">Videos</span>
    </div>
    <div class="total">
      <div class="kMiniIcon blue" [class.green]="bugs && bugs.indexOf('graphics') !== -1"><i class="icon-small-play"></i></div>
      <span class="value">{{bugs && bugs.indexOf('ux') !== -1 ? totals?.plays : totals?.plays | number: '1.0'}}</span>
      <span class="label">Plays</span>
    </div>
    <div class="total">
      <div class="kMiniIcon green" [class.lightgreen]="bugs && bugs.indexOf('graphics') !== -1"><i class="icon-small-viewer-contributor"></i></div>
      <span class="value">{{totals?.viewers | number: '1.0'}}</span>
      <span class="label">Viewers</span>
    </div>
    <div class="total">
      <div class="kMiniIcon orange" [class.aqua]="bugs && bugs.indexOf('graphics') !== -1"><i class="icon-small-time"></i></div>
      <span class="value">{{bugs && bugs.indexOf('ux') !== -1 ? totals?.minutesViewed : totals?.minutesViewed | number: '1.2'}}</span>
      <span class="label">Minutes Viewed</span>
    </div>
    <div class="total">
      <div class="kMiniIcon lightgreen" [class.orange]="bugs && bugs.indexOf('graphics') !== -1"><i class="icon-small-Completion-Rate"></i></div>
      <span class="value">{{totals?.avgCompletionRate | number: '1.2'}}%</span>
      <span class="label">Avg. Completion Rate</span>
    </div>
  </div>

  <div class="table">
    <p-table [value]="movies"
             [defaultSortOrder]="-1"
             [sortOrder]="-1"
             [sortField]="'plays'">
      <ng-template pTemplate="header">
        <tr class="kTopVideoHeader">
          <th [ngStyle]="{'width': '155px', 'padding-left': '24px'}"></th>
          <th [ngStyle]="{'width': '35%', 'padding-left': '24'}" pSortableColumn="name">
            <span class="tableHeader">Name</span>
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th [ngStyle]="{'width': '10%'}" pSortableColumn="plays">
            <span class="tableHeader">Plays</span>
            <p-sortIcon field="plays"></p-sortIcon>
          </th>
          <th class="playsDistributionCol">
            <span class="tableHeader">Play distribution</span>
          </th>
          <th [ngStyle]="{'width': '10%'}" pSortableColumn="viewers">
            <span class="tableHeader">Viewers</span>
            <p-sortIcon field="viewers"></p-sortIcon>
          </th>
          <th [ngStyle]="{'width': '15%'}" pSortableColumn="minutesViewed">
            <span class="tableHeader">Minutes viewed</span>
            <p-sortIcon field="minutesViewed"></p-sortIcon>
          </th>
          <th [ngStyle]="{'width': '10%'}" pSortableColumn="avgCompletionRate">
            <span class="tableHeader">Avg. Completion Rate</span>
            <p-sortIcon field="avgCompletionRate"></p-sortIcon>
          </th>
          <th [ngStyle]="{'width':'80px'}"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-movie>
        <tr class="kTopVideoRow" [class.graphicsBug]="bugs && bugs.indexOf('graphics') !== -1">
          <td [ngStyle]="{'width': '155px', 'padding-left': '24px', 'position': 'relative'}">
            <thumb-loader *ngIf="!isBusy" [thumbnailUrl]="'https://www.kaltura.com/p/'+movie['pid']+'/sp/'+movie['pid']+'00/thumbnail/entry_id/'+movie['id']+'/width/128/height/72'" [width]="128" [height]="72"></thumb-loader>
            <span *ngIf="showDuration" class="duration">{{movie['duration'] | duration}}</span>
          </td>
          <td [ngStyle]="{'width': '100%', 'padding-left': 24}">
            <div class="kTopVideoEntryColumn" (click)="drillDown(movie, true)">
              <span class="kTableColumn kEntryName" [ngClass]="{'uxBug': bugs && bugs.indexOf('ux') !== -1, 'graphicsBug': bugs && bugs.indexOf('graphics') !== -1}">{{movie['name']}}</span>
              <div class="kEntryDetails">
                <span class="kTableColumn">
                  By: {{movie['owner']}}
                </span>
              </div>
            </div>
          </td>
          <td>
            <div class="kTableCell">
              <i class="icon-small-play"></i>
              <span class="kCellValue">{{movie['plays']}}</span>&nbsp;
            </div>
          </td>
          <td>
            <div class="kTableCell">
              <app-bullet [class.responsiveBug]="bugs && bugs.indexOf('responsive') !== -1" [value]="movie['playsDistribution']"></app-bullet>
            </div>
          </td>
          <td>
            <div class="kTableCell">
              <i class="icon-small-viewer-contributor"></i>
              <span class="kCellValue">{{movie['viewers']}}</span>&nbsp;
            </div>
          </td>
          <td>
            <div class="kTableCell">
              <i class="icon-small-time"></i>
              <span class="kCellValue">{{movie['minutesViewed']  | number: '1.2'}}</span>&nbsp;
            </div>
          </td>
          <td>
            <div class="kTableCell">
              <i class="icon-small-Completion-Rate"></i>
              <span class="kCellValue">{{movie['avgCompletionRate']}}{{bugs && bugs.indexOf('graphics') !== -1 ? '' : '%'}}</span>&nbsp;
            </div>
          </td>
          <td  [ngStyle]="{'width':'80px'}">
            <div class="tableRowActions">
              <button type="button" pButton class="kMoreActionsButton" label="•••" (click)="openActionsMenu($event, movie)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <div class="emptymessage">
          <div class="kEmptyMessage">No Movies Found</div>
        </div>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="kLoader" *ngIf="isBusy">
  <div class="spinner-container">
    <div class='spinner'><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
  </div>
</div>

<p-menu #actionsmenu [popup]="true" [model]="actions" [appendTo]="'body'" kMenuCloseOnScroll></p-menu>

<app-movie [movie]="selectedMovie" [show]="showMovieDetails" [bugs]="bugs" (onClose)="showMovieDetails=false" (onDelete)="delete()"></app-movie>

<app-settings [show]="showSettings" (onClose)="showSettings=false"></app-settings>
